AWE_LanguageTool @ git+https://github.com/ArgLab/AWE_LanguageTool.git
AWE_SpellCorrect @ git+https://github.com/ArgLab/AWE_SpellCorrect.git
AWE_Components @ git+https://github.com/ArgLab/AWE_Components.git
AWE_Lexica @ git+https://github.com/ArgLab/AWE_Lexica.git
websockets
websocket-client
aiohttp
requests
streamlit
st-annotated-text
names
openpyxl
tensorflow
