awe_languagetool @ git+https://github.com/ArgLab/AWE_LanguageTool.git
awe_spellcorrect @ git+https://github.com/ArgLab/AWE_SpellCorrect.git
awe_components @ git+https://github.com/ArgLab/AWE_Components.git
websockets
websocket-client
aiohttp
requests
streamlit
st-annotated-text
names
openpyxl
tensorflow
